@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body {
  padding-top: 70px;
}
a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.list-view-image  {
	display: block;
	max-width:100%;
}



/* Searchbar */


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

/* Results */

.calctool-result {
	overflow-y: scroll;
	height: 250px;
	margin-bottom: 25px;
}


/* Api */

td , th { padding: 5px; }
tr { border-bottom: 1px solid #ccc; }